.container, .container-fluid{
	color: #000;
	font-family: 'Ubuntu', sans-serif;
}
body{
	background: #c3cfe2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #f5f7fa, #c3cfe2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #f5f7fa, #c3cfe2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
